/******** vender/sass/mixins/_image.scss ********/

.img-fluid {
	width: 100%;
}

/******** AgoraMail Web UI start ********/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@keyframes hover1{
	0%{
		clip-path:inset(-10% -10% -10% -10%);
		filter:blur(0) opacity(100%);
	}
	to{
		clip-path:inset(-10% -10% -10% 110%);
		filter:blur(0) opacity(20%);
	}
}

@keyframes hover2{
	0%{
		clip-path:inset(-10% 110% -10% -10%);
		filter:blur(1px) opacity(20%);
	}
	to{
		clip-path:inset(-10% -10% -10% -10%);
		filter:blur(0) opacity(100%);
	}
}

body {
	background: $white;
	line-height: $textSize*2;
	font-family: "Open Sans", sans-serif;
	color: $text;
}

a {
	color: lighten($main, 5%);
	text-decoration: none;
	
	&:hover, &:active {
		text-decoration: none;
	}

	&:hover {color: $secondary;}
}

a, button{
	span{@extend %span;}

	&:hover {
		span{@extend %hoverSpan;}
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
	font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
@keyframes topBtn1{
	0%{
		clip-path:inset(-10% -10% -10% -10%);
		filter:blur(0) opacity(100%);
	}
	to{
		clip-path:inset(-10% -10% 110% -10%);
		filter:blur(0) opacity(30%);
	}
}

@keyframes topBtn2{
	0%{
		clip-path:inset(110% -10% -10% -10%);
		filter:blur(1px) opacity(20%);
	}
	to{
		clip-path:inset(-10% -10% -10% -10%);
		filter:blur(0) opacity(100%);
	}
}

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: $textSize;
	bottom: $textSize;
	z-index: 99999;
	padding: 0 0 $radius 0;
	border-radius: $textSize;
	transition: $transition;
	font-weight: 100;
	writing-mode: vertical-rl;

	span{
		&:before{
			background: $main;
			content: "";
			display: inline-block;
			height: $margin;
			margin-bottom: $letterSpacing;
			opacity: .7;
			width: 1px;}
	}

	&:hover{
		color: $secondary;

		span{
			animation: topBtn1 .4s linear 0s 1 both,topBtn2 1.3s cubic-bezier(.215,.61,.355,1) .4s 1 forwards;
		}
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	height: $margin;
	transition: $transition;
	z-index: 997;
	background: rgba(darken($text, 8%), 0.8);

	&.header-transparent {
		background: none;
	}

	&.header-scrolled {
		background: rgba(darken($text, 8%), 0.8);
		height: $padding * 1.5;
	}

	.logo {
		h1 {
			font-size: $textSize * 2;
			margin: 0;
			padding: $radius/3;
			line-height: 1;
			font-weight: 400;
			letter-spacing: $letterSpacing;
			text-transform: uppercase;

			a,
			a:hover {
				color: $white;
				text-decoration: none;
			}
		}

		img {
			padding: 0;
			margin: 0;
			max-height: $padding * 0.75;
		}
	}
}

#main {
	margin-top: $margin;

	&.index{margin-top: 0;}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/

.navbar {
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;

		li {
			position: relative;

			a, a:focus {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-right: -$padding / 2;
				margin-left: $padding / 2 ;
				padding: $letterSpacing $padding / 2;
				font-family: "Open Sans", sans-serif;
				font-size: $textSize;
				color: $white;
				white-space: nowrap;
				text-shadow: $textShadow;
				border-radius: $padding;

				i {
					font-size: $textSize;
					line-height: 0;
					margin-left: 5px;
				}
			}
		}
	}

	a:hover {
		font-size: $textSize;
		color: $secondary;
	}

	.active {
		color: $main;

		&:focus, &:after, &:focus:after{color: $main;}
	}

	.dropdown {
		ul {
			display: block;
			position: absolute;
			left: 14px;
			top: calc(100% + 30px);
			margin: 0;
			padding: 10px 0;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			background: rgba($text, 0.75);
			box-shadow: 0px 0px 30px rgba($text, 0.18);
			transition: 0.3s;

			li {
				min-width: $padding * 4;
			}

			a {
				padding: $radius $radius * 2;
				font-size: $textSize;
				text-transform: none;
				color: $white;
			}
			a:hover,
			active:hover,
			li:hover > a {
				color: $main;
			}
		}

		＆:hover > ul {
			opacity: 1;
			top: 100%;
			visibility: visible;
		}

		.dropdown {
			ul {
				top: 0;
				left: calc(100% - 30px);
				visibility: hidden;
			}

			&:hover > ul {
				opacity: 1;
				top: 0;
				left: 100%;
				visibility: visible;
			}
		}
	}
}
@media (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
				&::hover > ul {
					left: -100%;
				}
			}
		}
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(17, 38, 48, 0.9);
	transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}
.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #1e4356;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: #68a4c4;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}
.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
	min-width: 200px;
}
.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: #68a4c4;
}
.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;

	&:after,
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		width: 130%;
		z-index: 0;
		border-radius: 0 0 50% 50%;
	}

	&:after {
		height: 91%;
		background: linear-gradient(to right, rgba($text, .56), rgba($text, .85)),
			url(../img/MasterVision2.jpg) $white center center no-repeat;
		background-size: cover;
		transform: translateX(-50%) rotate(0deg);
	}

	&:before {
		height: 92%;
		background: linear-gradient($main 80%, darken($main, 8%) 100%);
		opacity: 1;
		transform: translateX(-50%) translateY(18px) rotate(2deg);
		box-shadow: 0 0 8px 13px rgba(darken($main, 8%), 0.13),
			0 5px 18px 25px rgba($main, 0.13);
	}

	.carousel-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}

	h2, p{
		color: rgba($white, .85);
		text-shadow: $textShadow;
	}

	h2{
		margin-bottom: $padding/2;
		font-size: $padding;
		font-weight: 500;
	}

	p{
		width: 80%;
		animation-delay: $transition;
		margin: 0 auto $padding*.75 auto;
		font-weight: 200;
	}

	.btn-get-started {
		font-family: "Roboto", sans-serif;
		font-weight: 200;
		font-size: $textSize;
		letter-spacing: $letterSpacing/4;
		display: inline-block;
		padding: $textSize $padding;
		border-radius: $padding;
		transition: $transition;
		line-height: 1;
		margin: $textSize;
		background: rgba($text, 0.26);
		color: $white;
		animation-delay: .8s;
		border: 2px solid $main;

		&:hover{
			color: $secondary;
			text-decoration: none;
			font-weight: 400;
		}
	}
}
@media (min-width: 1024px) {
	#hero p {
		width: 60%;
	}
	#hero .carousel-control-prev,
	#hero .carousel-control-next {
		width: 5%;
	}
}
@media (max-width: 768px) {
	#hero::after {
		width: 180%;
		height: 95%;
		border-radius: 0 0 50% 50%;
		transform: translateX(-50%) rotate(0deg);
	}
	#hero::before {
		top: 0;
		width: 180%;
		height: 94%;
		border-radius: 0 0 50% 50%;
		transform: translateX(-50%) translateY(20px) rotate(4deg);
	}
}
@media (max-width: 575px) {
	#hero h2 {
		font-size: 30px;
	}
	#hero::after {
		left: 40%;
		top: 0;
		width: 200%;
		height: 95%;
		border-radius: 0 0 50% 50%;
		transform: translateX(-50%) rotate(0deg);
	}
	#hero::before {
		left: 50%;
		top: 0;
		width: 200%;
		height: 94%;
		border-radius: 0 0 50% 50%;
		transform: translateX(-50%) translateY(20px) rotate(4deg);
	}
}

/*--------------------------------------------------------------
# Hero No Slider Section
--------------------------------------------------------------*/
#hero-no-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	text-align: center;

	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to right, rgba($text, .8), rgba($text, .56)), url("../img/hero-bg.jpg") center top no-repeat;
	}

	h2{
		color: $white;
		margin-bottom: $textSize;
		font-size: $padding;
		font-weight: 700;
	}

	p{color: $white;}

	.btn-get-started {
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: $textSize;
		letter-spacing: 1px;
		display: inline-block;
		padding: $textSize $padding;
		border-radius: $radius;
		transition: $transition;
		line-height: $letterSpacing/4;
		margin: $textSize;
		color: $main;
		animation-delay: $transition;
		border: 2px solid $main;

		&:hover{
			color: $secondary;
			text-decoration: none;
		}
	}
}

@media (max-width: 575px) {
	#hero-no-slider h2 {
		font-size: 30px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: $margin 0;
}

.section {
	min-height: 100vh - $margin*2;

	&-bg {
		background: darken($white, 3%);
	}

	&-title {
		text-align: center;
		padding: 0 0 $padding+$margin 0;

		h1{
			font-size: $textSize*2.5;
			padding-top: $padding;
		}
		
		h2{
			font-size: $textSize*2;
			padding-bottom: $padding/2;
			position: relative;
		}

		p{margin-bottom: 0;}
	}
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: $textSize 0;
	background-color: $white;

	h2{
		font-size: $margin / 2;
	}

	ol{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;

		li{
			padding-left: $textSize / 2;

			a{
				padding: $textSize /2 $textSize;
				border-radius: $textSize * 2;
			}
		}

		li + li{
			padding-left: $textSize / 2;

			&:before{
				display: inline-block;
				padding-right: $padding / 2;
				color: $text;
				content: "/";
			}
		}
	}
}
@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}
	.breadcrumbs ol {
		display: block;
	}
	.breadcrumbs ol li {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
# Ｗhy Ｕs
--------------------------------------------------------------*/
.why-us {
	.row + .row {margin-top: $padding*2.25;}

	h3{
		position: relative;
		color: $text;
		font-weight: 500;
		font-size: $textSize*1.25;
		margin: $textSize 0 $padding / 2 0;

		&:after{
			display: none;
			content: "";
			position: absolute;
			left: 0;
			bottom: $letterSpacing*1.5;
			width: $margin;
			height: .01rem;
			background: $text;
			border-radius: $radius;
		}
	}

	ul{
		list-style: none;
		padding: 0;

		li{padding-bottom: $textSize;}

		i{
			font-size: $textSize*75;
			padding-right: $letterSpacing;
			color: $main;
		}
	}

	p{
		&.gray{
			color: $text;
			font-weight: 300;
		}

		&:last-child{	margin-bottom: 0;}
	}
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
	font-weight: 400;
	font-size: 26px;
}
.about ul {
	list-style: none;
	padding: 0;
}
.about ul li {
	padding-bottom: 10px;
}
.about ul i {
	font-size: 20px;
	padding-right: 4px;
	color: #68a4c4;
}
.about p:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .counters span {
	font-size: 48px;
	display: block;
	color: #68a4c4;
}
.facts .counters p {
	padding: 0;
	margin: 0 0 20px 0;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
.skills {
	padding: 60px 0;
}
.skills .progress {
	height: 35px;
	margin-bottom: 10px;
}
.skills .progress .skill {
	line-height: 35px;
	padding: 0;
	margin: 0 0 0 20px;
	text-transform: uppercase;
}
.skills .progress .skill .val {
	float: right;
	font-style: normal;
	margin: 0 20px 0 0;
}
.skills .progress-bar {
	width: 1px;
	text-align: left;
	transition: 0.9s;
}

/*--------------------------------------------------------------
# Tetstimonials
--------------------------------------------------------------*/
.testimonials {
	padding: 60px 0;
}
.testimonials .section-header {
	margin-bottom: 40px;
}
.testimonials .testimonials-carousel {
	overflow: hidden;
}
.testimonials .testimonial-item {
	text-align: center;
}
.testimonials .testimonial-item .testimonial-img {
	width: 120px;
	border-radius: 50%;
	border: 4px solid #fff;
	margin: 0 auto;
}
.testimonials .testimonial-item h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #111;
}
.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0 0 15px 0;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
	color: #fbfcfd;
	font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
}
.testimonials .testimonial-item p {
	font-style: italic;
	margin: 0 auto 15px auto;
}
.testimonials .swiper-pagination {
	margin-top: 20px;
	position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #68a4c4;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #68a4c4;
}

/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/
.service-details {
	padding-bottom: 10px;
}
.service-details .card {
	border: 0;
	padding: 0 30px;
	margin-bottom: 60px;
	position: relative;
}
.service-details .card-img {
	width: calc(100% + 60px);
	margin-left: -30px;
	overflow: hidden;
	z-index: 9;
	border-radius: 0;
}
.service-details .card-img img {
	max-width: 100%;
	transition: all 0.3s ease-in-out;
}
.service-details .card-body {
	z-index: 10;
	background: #fff;
	border-top: 4px solid #fff;
	padding: 30px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	margin-top: -60px;
	transition: 0.3s;
}
.service-details .card-title {
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.service-details .card-title a {
	color: #1e4356;
	transition: 0.3s;
}
.service-details .card-text {
	color: #5e5e5e;
}
.service-details .read-more a {
	color: #777777;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	transition: 0.3s;
}
.service-details .read-more a:hover {
	color: #68a4c4;
}
.service-details .card:hover img {
	transform: scale(1.1);
}
.service-details .card:hover .card-body {
	border-color: #68a4c4;
}
.service-details .card:hover .card-body .card-title a {
	color: #68a4c4;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing {
	.row {
		margin-top: -$padding;
		padding-top: $padding;
	}
	
	.box {
		@extend %box, %box2;
		text-align: center;

		&.left{border-radius: $radius * 2 0 0 $radius * 2;}
		&.right{border-radius: 0 $radius * 2 $radius * 2 0;}
	}

	h3{
		margin-bottom: $padding/2;
		font-size: $padding/2;
	}

	h4{
		font-size: $padding;
		color: $secondary;
		font-weight: 400;
		margin-bottom: $padding;

		span{
			display: block;
			margin-top: $radius;
			color: $gray;
			font-size: $textSize;
		}
	}

	ul{
		padding: 0;
		list-style: none;
		color: $text;
		text-align: left;
		line-height: $padding;

		li{
			padding-bottom: $textSize;
			line-height: $textSize * 2;
		
			i{
				color: $main;
				font-size: $textSize * 1.5;
				padding-right: $letterSpacing / 2;
			}
		}

		.na{
				color: $gray;

				i{color: $gray;}

				span{text-decoration: line-through;}
		}
	}
	
	.get-started-btn {
		@extend %btnPrimary-line;
	}

	.featured {
		z-index: 10;
		margin: -$padding auto 0 auto;

		.get-started-btn {
			@extend %btnPrimary;
		}
	}
}
@media (max-width: 992px) {
	.pricing .box {
		max-width: 60%;
		margin: 0 auto $padding auto;
	}
}
@media (max-width: 767px) {
	.pricing .box {
		max-width: 80%;
		margin: 0 auto $padding auto;
	}
}
@media (max-width: 420px) {
	.pricing .box {
		max-width: 100%;
		margin: 0 auto $padding auto;
	}
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
	background: #fff;
}
.team .member {
	margin-bottom: 20px;
	overflow: hidden;
}
.team .member .member-img {
	position: relative;
	overflow: hidden;
}
.team .member .social {
	position: absolute;
	left: 0;
	bottom: -40px;
	right: 0;
	height: 40px;
	opacity: 0;
	transition: bottom ease-in-out 0.4s;
	text-align: center;
	background: rgba(30, 67, 86, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}
.team .member .social a {
	transition: color 0.3s;
	color: #fff;
	margin: 0 12px;
	display: inline-block;
}
.team .member .social a:hover {
	color: #68a4c4;
}
.team .member .social i {
	font-size: 18px;
	margin: 0 2px;
}
.team .member .member-info h4 {
	font-weight: 700;
	margin: 15px 0 5px 0;
	font-size: 18px;
}
.team .member .member-info span {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 15px;
	color: #68a4c4;
}
.team .member .member-info p {
	font-style: italic;
	font-size: 14px;
	line-height: 26px;
	color: #666;
}
.team .member:hover .social {
	bottom: 0;
	opacity: 1;
	transition: bottom ease-in-out 0.4s;
}
.team .member:hover .social a,
.team .member:hover .social i {
	line-height: 0;
	font-size: 18px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
	padding-top: $padding / 2;
	
	.info-box {
		@extend %box, %box1;
		color: $text;
		text-align: center;
		padding: $padding 0;

		i{
			font-size: $padding;
			color: $main;
			border-radius: 50%;
			padding: $radius;
			border: 2px dotted $main;
		}

		h3{
			font-size: $padding / 2;
			color: $text;
			font-weight: 700;
			margin: 10px 0;
		}
	}
}
.contact .info-box h3 {
	font-size: 20px;
	color: $text;
	font-weight: 700;
	margin: 10px 0;
}
.contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}
.contact .php-email-form {
	@extend %box, %box1;
}
.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: $red;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}
.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}
.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}
.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}
.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
	@extend %input;
	font-size: $textSize;
}
.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
	background: $text;
	color: $white;
}
.contact .php-email-form input {
	padding: 10px 15px;
}
.contact .php-email-form textarea {
	padding: 12px 15px;
}
.contact .php-email-form button[type="submit"] {
	@extend %btnPrimary;

}
@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
.map {
	padding: 0;
	margin-bottom: -6px;
}
.map iframe {
	width: 100%;
	height: 380px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: $text;
	padding: $padding 0 $textSize * 2 0;
	color: rgba($white, .85);
	font-size: $textSize*.85;
	font-weight: 100;

	.footer-info {
		margin-bottom: $padding;

		h3{
			font-size: $textSize*2;
			margin: 0 0 $padding 0;
			padding: 0;
			line-height: 1;
			color: rgba($main, .5);
			font-weight: 600;
		}

		p{
			font-size: $textSize;
			line-height: $padding;
			margin-bottom: 0;
			font-family: "Roboto", sans-serif;
			color: $gray;
		}
	}

	.footer-links {
		margin-bottom: $padding;

		ul{
			list-style: none;
			padding: 0;
			margin: 0;

			i{
				padding-right: $letterSpacing;
				color: $main;
				font-size: $textSize;
				line-height: 1;
			}

			li{
				padding: $radius 0;
				display: flex;
				align-items: center;

				&:first-child{
					padding-top: 0;
				}

				a{
						color: $white;
						transition: $transition;
						display: inline-block;
						line-height: 1;

						&:hover{color: rgba($white, .5);}
				}
			}
		}
	}

	.footer-contact {

		h4{
			margin-right: $textSize;
			font-size: $padding*.75;
			font-weight: 600;
			color: rgba($white, .5);
			position: relative;
			display: inline-flex;
		}

		p{
			display: inline-flex;
			margin-right: $textSize;
		}
	}

	.social-links {
		a{
			font-size: $padding/2;
			display: inline-block;
			background: $gray;
			color: $text;
			line-height: 1;
			padding: $textSize*.45;
			margin-right: $letterSpacing;
			border-radius: 50%;
			text-align: center;
			width: $padding*.75;
			height: $padding*.75;
			transition: $transition;

			&:hover{
				background: darken($gray, 13%);
				color: $text;
				text-decoration: none;
			}
		}
	}

	.copyright {
		margin-top: $textSize;
		align-items: flex-end;
	}
}

/*--------------------------------------------------------------
# Cursor Variation
--------------------------------------------------------------*/

.cursor {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: var(--width);
	height: var(--height);
	transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
	transition: 800ms width cubic-bezier(0.39, 0.575, 0.565, 1),
				500ms height cubic-bezier(0.39, 0.575, 0.565, 1),
				300ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
	z-index: 999;
	pointer-events: none;
	will-change: transform;

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: var(--radius);
		border: 2px solid $main;
		opacity: var(--scale);
		transform: scale(var(--scale));
		transition: 500ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
					00ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
					300ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
	}

	.logo {
		&:after{boder: 0;}
	}
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}

html:not(html:hover) .cursor::after {
	opacity: 0;
	transform: scale(0);
}

a {
  &:not([href]):not([class]){
		appearance: none;
		border: none;
		cursor: inherit;
		margin: 0;
		padding: 0 $radius $letterSpacing $radius;
		background: none;
		border-radius: $letterSpacing;
		text-decoration: underline dotted;
	}

	&:not([href]):not([class]):hover ~ .cursor {text-decoration-line: none;}
}